
      <div class="row"><div class="col-xs-12">
        <hr>
        <p class="text-right">
          Gardena Buddhist Church<br>
          <a href="tel:+13103279400">(310) 327-9400</a><br>
          <a href="http://maps.google.com/maps?f=q&amp;hl=en&amp;geocode=&amp;q=1517+W+166th+St.,+Gardena,+CA+90247&amp;sll=33.880141,-118.30305&amp;sspn=0.012149,0.020084&amp;ie=UTF8&amp;z=16&amp;iwloc=addr">
          1517 W 166th St., Gardena, CA, 90247
          </a>
        </p>
      </div></div>


