
  <div class="row visible-xs-block visible-sm-block">
    <div class="col-xs-12">
    <hr>
  	find us on <a href="https://www.facebook.com/gardenabuddhistchurch"><i class="fa fa-facebook-official fa-lg"></i> facebook</a>
    </div>
  </div>

  <div class="row visible-lg-block visible-md-block">
  	<div class="col-xs-12" style="height:500px">
      <div class="fb-page center-block"
        data-href="https://www.facebook.com/gardenabuddhistchurch"
        data-width="280" data-height="500"
        data-hide-cover="true" data-show-facepile="false" data-show-posts="true">
        <div class="fb-xfbml-parse-ignore">
          <blockquote cite="https://www.facebook.com/gardenabuddhistchurch">
            find us on <a href="https://www.facebook.com/gardenabuddhistchurch">
              <i class="fa fa-facebook-official fa-lg"></i> facebook</a>
          </blockquote>
        </div>
      </div>
   </div>
  </div>
