<div class="row">
  <div class="col-xs-12" style="padding-top:10px">

  <div class="visible-xs-block">
    <a href="https://www.google.com/calendar/embed?src=5k8e2eer39ir4c54eucr6vgccs%40group.calendar.google.com&ctz=America/Los_Angeles">
      View Calendar on own page
    </a>
    <br><hr>

<iframe src="https://www.google.com/calendar/embed?mode=AGENDA&amp;height=600&amp;wkst=2&amp;hl=en&amp;bgcolor=%23ffffff&amp;src=5k8e2eer39ir4c54eucr6vgccs%40group.calendar.google.com&amp;color=%23865A5A&amp;ctz=America%2FLos_Angeles" style=" border-width:0 " width="100%" height="600" frameborder="0" scrolling="no"></iframe>
  </div>

  <div class="visible-sm-block">
<iframe src="https://www.google.com/calendar/embed?mode=AGENDA&amp;height=600&amp;wkst=2&amp;hl=en&amp;bgcolor=%23ffffff&amp;src=5k8e2eer39ir4c54eucr6vgccs%40group.calendar.google.com&amp;color=%23865A5A&amp;ctz=America%2FLos_Angeles" style=" border-width:0 " width="700" height="600" frameborder="0" scrolling="no"></iframe>
  </div>

  <div class="visible-md-block">
<iframe src="https://www.google.com/calendar/embed?height=600&amp;wkst=2&amp;hl=en&amp;bgcolor=%23ffffff&amp;src=5k8e2eer39ir4c54eucr6vgccs%40group.calendar.google.com&amp;color=%23865A5A&amp;ctz=America%2FLos_Angeles" style=" border-width:0 " width="100%" height="480" frameborder="0" scrolling="no"></iframe>
  </div>

  <div class="visible-lg-block">
<iframe src="https://www.google.com/calendar/embed?height=600&amp;wkst=2&amp;hl=en&amp;bgcolor=%23ffffff&amp;src=5k8e2eer39ir4c54eucr6vgccs%40group.calendar.google.com&amp;color=%23865A5A&amp;ctz=America%2FLos_Angeles" style=" border-width:0 " width="100%" height="540" frameborder="0" scrolling="no"></iframe>
  </div>

  </div>
</div>
